*{
    background-color: #212226;
    color: #efefef;
    font-size: 15px;
}
.container{
    width:300px;
}
textarea{
    width: 96%;
    background: rgba(51, 51, 54, .3);
    color: #efefef;
    padding: 10px 5px;
    border: 1px solid #111117;
}
button{
    background-color: #1d9e32;
    border: none;
    padding: 10px 5px;
    width: 100%;
}
.processed{
    background-color: #b83838;
}